<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.suntrans.hotwater_demon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="net.suntrans.hotwater_demon.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="PGYER_APPID"
            android:value="52e838e7ff2c01d2c45e163bfb9fa58f" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="net.suntrans.hotwater_demon.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:name="net.suntrans.hotwater_demon.MainActivity" android:screenOrientation="portrait">

        </activity>
        <service android:name="net.suntrans.hotwater_demon.websocket.WebSocketService" />
        <activity android:name="net.suntrans.hotwater_demon.ui.activity.LoginActivity" android:screenOrientation="landscape">

        </activity>
        <activity android:name="net.suntrans.hotwater_demon.ui.activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.hotwater_demon.ui.activity.WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.suntrans.hotwater_demon.ui.activity.PicActivity" android:screenOrientation="landscape"/>
        <activity android:name="net.suntrans.hotwater_demon.ui.activity.MessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="net.suntrans.hotwater_demon.ui.activity.WarningActivity" android:screenOrientation="portrait"/>
    </application>


</manifest>